main {
  perspective: 40em;
  transform-style: preserve-3d;
}

main * {
  transform-style: preserve-3d;
}

h1 {
  background: var(--color-body);
  transform: translateZ(var(--top-depth)) translateY(var(--top-depth));
}

.top-border {
  background: black;
  height: var(--top-depth);
  transform: rotateX(-0.25turn);
  transform-origin: bottom;
}

.body {
  display: grid;
  place-items: center;
  place-content: center;
  width: var(--size-body);
  aspect-ratio: 1;
  background: var(--color-body);
}
