@import url("./reset.css");
@import url("./variables.css");
@import url("./controls.css");
@import url("./player.css");
@import url("./movement.css");
@import url("./screen.css");
@import url("./box.css");
@import url("./dots.css");
@import url("./walls.css");

@font-face {
  font-family: "arcade";
  src: url("./../font/PacfontGood-yYye.ttf") format("truetype");
}

/* The scene */
body {
  margin: 0;
  height: 100dvh;
  width: 100%;
  display: grid;
  place-items: center;
  place-content: center;

  background-image: linear-gradient(dodgerblue, lightskyblue);
}
