/* Movement */

:root,
output {
  /* Transition back very slowly */
  transition: --x 10000s linear, --y 10000s linear;
}

output {
  translate: calc((var(--size-screen) - var(--size-player)) * var(--x, 0))
    calc((var(--size-screen) - var(--size-player)) * var(--y, 0));
}

:root:has(button:active),
:root:has(button:active) output {
  transition: --x 2s linear, --y 2s linear;
  --run: round(var(--x), 1);
}

/* Listen for button active to change move animation */

/* Up */
:root:has(button:nth-of-type(1):active) {
  --y: 10000;
  output {
    --y: 0.00001;
    transform: rotate(-90deg);
  }
}

/* Left */
:root:has(button:nth-of-type(2):active) {
  --x: 10000;
  output {
    --x: 0.00001;
    transform: rotate(180deg);
  }
}

/* Right */
:root:has(button:nth-of-type(3):active) {
  --x: 30000;
  output {
    --x: 1;
  }
}

/* Down */
:root:has(button:nth-of-type(4):active) {
  --y: 30000;
  output {
    --y: 1;
    transform: rotate(90deg);
  }
}

@property --x {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@property --y {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@container style(--x: 10000) {
  :root {
    body {
      background-image: linear-gradient(green, lightgreen);
    }
  }
}

@container style(--x: 30000) {
  :root {
    body {
      background-image: linear-gradient(red, pink);
    }
  }
}

@container style(--run: 30000) {
  :root {
    body {
      background-image: linear-gradient(orange, yellow) !important;
    }
  }
}
