/* Player */

output {
  display: grid;
  place-items: center;
  place-content: center;
  width: var(--size-player);
  aspect-ratio: 1;

  /* &::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(var(--size-player) / 2 - 0.2rem);
    height: calc(var(--size-player) / 4);
    background: var(--color-screen);
    z-index: -1;
  } */

  &::after {
    content: "";
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    width: calc(var(--size-player) / 2);
    background: conic-gradient(
      var(--color-player) 55deg,
      transparent 0 125deg,
      var(--color-player) 0
    );
    background: conic-gradient(
      var(--color-player-oklch) 55deg,
      transparent 0 125deg,
      var(--color-player-oklch) 0
    );
  }
}

/* Start animation when a input is checked */
:root:has(input:checked) {
  output::after {
    animation: eat 0.4s linear infinite;
  }
}

/* Eat animation */
@keyframes eat {
  0%,
  50% {
    background: conic-gradient(
      var(--color-player) 55deg,
      transparent 0 125deg,
      var(--color-player) 0
    );
  }
  25% {
    background: conic-gradient(
      var(--color-player) 55deg,
      var(--color-player) 0
    );
  }
}
