/* Screen */

article {
  position: relative;
  width: var(--size-screen);
  aspect-ratio: 1;
  background-color: var(--color-screen);
  box-shadow: inset 0 0 0 1vmin var(--color-screen),
    inset 0 0 0 1.5vmin var(--color-wall), inset 0 0 0 2vmin var(--color-screen),
    inset 0 0 0 2.5vmin var(--color-wall);

  /* The player starts top left */
  > output {
    top: 0;
    left: 0;
    position: absolute;
  }

  /* The grid with dots */
  > ul {
    padding: 0;
    list-style: none;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    /* A dot */
    > li {
      display: grid;
      place-items: center;
      place-content: center;
      width: var(--size-player);
      aspect-ratio: 1;

      &::before {
        content: "";
        display: block;
        width: calc(var(--size-player) / 4);
        aspect-ratio: 1;
        border-radius: 50%;
        background: white;
      }
    }
  }
}
