/* Screen */

article {
  position: relative;
  width: var(--size-screen);
  aspect-ratio: 1;
  background-color: var(--color-screen);
  box-shadow: inset 0 0 0 1vmin var(--color-screen),
    inset 0 0 0 1.5vmin var(--color-wall), inset 0 0 0 2vmin var(--color-screen),
    inset 0 0 0 2.5vmin var(--color-wall);

  /* The player starts top left */
  > output {
    top: 0;
    left: 0;
    position: absolute;
  }
}

/* Show player location */
:root {
  counter-reset: x-steps var(--x-steps) y-steps var(--y-steps);
}

article::before {
  position: absolute;
  bottom: 100%;
  left: 0;
  content: counter(x-steps);
}

article::after {
  position: absolute;
  top: 0;
  right: 100%;
  content: counter(y-steps);
}
