:root {
  /* Sizes */
  --size-grid: 4;
  --size-player: 4rem;
  --size-screen: calc(var(--size-grid) * var(--size-player));
  --size-body: calc(var(--size-screen) + 2rem);
  --size-bottom: 10rem;
  --size-button: calc(var(--size-body) / 4);

  /* Colors */
  --color-player: #fcec0f;
  --color-player-oklch: oklch(92.65% 0.194 104.53);
  --color-screen: #222;
  --color-body: rgb(183, 0, 255);
  --color-body-oklch: oklch(59.84% 0.301 310.74);
  --color-controls: rgb(98, 4, 136);
  --color-controls-oklch: oklch(38.02% 0.187 311.64);
  --color-wall: #5558ff;

  /* Depths */
  --top-depth: 3rem;

  /* Transitions */
  --transition-stop: 10000s linear; /* Stop speed */
  --transition-player: 2s linear; /* Player speed */
  --transition-dots: 1s 30s; /* Time to eat dots */

  /* Fonts */
  --font-pacman: "arcade", sans-serif;
}
