article ul {
  li:nth-of-type(2) {
    border-right: 0.5vmin var(--color-wall) solid;
  }
}

@container style(--x-steps:7) and style(--y-steps:1) {
  body {
    transition: --x var(--transition-stop) !important;
    opacity: 0.5;
  }
}

@container style(--x-steps:10) and style(--y-steps:1) {
  body {
    transition: --x var(--transition-stop) !important;
    opacity: 0.5;
  }
}
